<h1>結帳</h1>

<%= render "cart" %>

<%= simple_form_for @order do |f| %>
  <%= f.input :receipent %>
  <%= f.input :tel %>
  <%= f.input :address %>
  <%= f.input :email %>
  <hr />
  <div id="payment-form"></div>
  <hr />
  <%= f.submit "確認送出" %>
<% end %>

<script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>
<script>
var clientToken = "<%= Braintree::ClientToken.generate %>";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>
