<!DOCTYPE html>
<html>
  <head>
    <title>MyShoppingMall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    購物車：<%= current_cart.items.count %>
    <% unless current_cart.empty? %>
      <%= link_to "檢視", cart_path %>
      <%= link_to "清空", cart_path, method: "delete" %>
    <% end %>

    <%= yield %>
  </body>
</html>
